@model GolferDetails


<div class="frame">
    <div>

        <div>
            <h3>@Model.FirstName</h3>
            <hr />
            <h3>@Model.LastName</h3>
            <hr />
            <h3> Handicap:@Model.Handicap</h3>
            <hr />
            <h3> Location: @Model.Location</h3>
            <hr />
        </div>
    </div>
</div>

<div class="shadow-lg rounded-lg overflow-hidden">
    <div class="py-3 px-5 bg-gray-50">Club Yards</div>
    <canvas class="p-10" id="chartBar"></canvas>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart bar -->
<script>
    const labelsBarChart = [
      "degree wedge",
      "degree wedge",
      "pitching wedge",
      "9 iron",
      "8 iron",
      "7 iron",
      "6 iron",
      "5 iron",
      "4 iron",
      "5 wood",
      "3 wood",
      "Driver",
    ];
    const dataBarChart = {
      labels: labelsBarChart,
      datasets: [
        {
          label: "Yardages per club",
          backgroundColor: "hsl(252, 82.9%, 67.8%)",
          borderColor: "hsl(252, 82.9%, 67.8%)",
                data: [@Model.DegreeWedge, @Model.DegreeWedge2, @Model.PitchingWedge, @Model.NineIron, @Model.EightIron, @Model.SevenIron, @Model.SixIron, @Model.FiveIron, @Model.FourIron, @Model.ThreeIron, @Model.TwoIron, @Model.OneIron, @Model.FiveWood, @Model.ThreeWood, @Model.Driver],
        },
      ],
    };

    const configBarChart = {
      type: "bar",
      data: dataBarChart,
      options: {},
    };

    var chartBar = new Chart(
      document.getElementById("chartBar"),
      configBarChart
    );
</script>
