@using System.Security.Claims
@model IEnumerable<GolferListItem>

<link href="~/css/allgolfers.css" rel="stylesheet" type="text/css" />
<div class="grass">

<h1 class="text-center text-light">All Golfers</h1>

<table class="table table-striped table-dark" >
    <thead>
        <tr >
     
            <th>First and Last name</th>
            <th>Handicap</th>
            <th>Location</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var golfers in Model)
        {
            <tr>
               
                <td>@golfers.FirstName @golfers.LastName</td>
                <td>@golfers.Handicap</td>
                <td>@golfers.Location</td>
                 <td>
                    @*@Html.ActionLink("Edit", "Edit", "Golfer", new {id = User.Claims.First(i => i.Type == ClaimTypes.NameIdentifier).Value}) |*@
                    @Html.ActionLink("Edit", "Edit", "Golfer", new {id = golfers.Id}) |
                    @Html.ActionLink("Details", "Details", "Golfer", new {id = golfers.Id}) |
                    @Html.ActionLink("Delete", "Delete", "Golfer", new {id = golfers.Id}) |
                <a type="submit"  class="btn btn-primary" asp-action="AddFriend" asp-controller="Golfer">Add A Friend</a>
                </td>
            </tr>
        }

        

    </tbody>
</table>
</div>
